*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
footer {
    background-color: #C8102E;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
}

.janela {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

.janela h2 {
    color: #C8102E;
}

.janela button {
    background-color: #C8102E;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.janela button:hover {
    background-color: #a60d25;
}